body {
font-family: "Roboto", sans-serif;
font-size: 56px;
font-weight: 700;
letter-spacing: 0.02em;
line-height: 1.07;
color: #434455;
}

.logo {
font-family: Raleway, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
vertical-align: middle;
text-transform: uppercase;
text-decoration: none;
}

.logo {
color: #2E2F42;
}

.logo-web {
color: #4D5AE5;
}

.nav-link {
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.nav-contact {
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}



h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #2E2F42;
  color: #FFFFFF;
}

.button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
vertical-align: middle;
color: #FFFFFF;
background-color: #4D5AE5;
}


