body {
    font-family: "Roboto", "Helvetica", "Arial" sans-serif;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #434455;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
}

.logo {
    color: #2E2F42;
}

.logo-web {
    color: #4D5AE5;
}


.logo-web-2 {
    color: #FFFFFF;
}

.nav > ul > li {
    background-color: #E7E9FC;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

h1 {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #2E2F42;
    color: #FFFFFF;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.h3 {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
}

.header {
    background-color: #E7E9FC;
}

.footer {
    background-color: #2E2F42;
}

.footer p {
    color: #E7E9FC;
}

.hero {
    background-color: #2E2F42;
}

.team h3 {
    color: #434455;
}

.team h3:hover {
    color: blue;
}