body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;

}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    vertical-align: middle;
    text-transform: uppercase;
}

.logo {
    color: #2E2F42;
}

.logo-web {
    color: #4D5AE5;
}


.logo-web-2 {
    color: #FFFFFF;
}

.header a {
    text-decoration: none;
}

.nav a:hover:hover,
.nav a:hover:focus {
  color: #404BBF;
}


.nav-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.nav-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    list-style: none;
}

.nav-contact a:hover {
    color: #404BBF;
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #2E2F42;
    color: #FFFFFF;
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.text {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.h3 {
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
}


.footer {
    background-color: #2E2F42;
}

.footer p {
    color: #E7E9FC;
}

.hero {
    background-color: #2E2F42;
}

.team {
    background-color: #F4F4FD;
}

.team h3 {
    color: #434455;
}

.team h3:hover {
    color: blue;
}

.ul > li {
    list-style: none;
}


.button:hover {
    background-color: #404BBF;
}

a {
    text-decoration: none;
    color: inherit;
}